.url-shortener {
  width: 400px;
  height: 400px;
  padding: 40px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 2px 2px 5px #5c5c5c;
}

.url-shortener h1,
.url-shortener h2 {
  text-align: left;
  margin: 0;
}

.url-shortener h2 {
  font-size: 1.2em;
  font-weight: 200;
}

.shorten-button {
  border: none;
  color: blue;
  font-size: 1.5em;
}

@media only screen and (max-width: 650px) {
  .url-shortener {
    width: 92%;
  }  
}