.url-output-field {
  width: 360px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #dddddd;
  font-size: 1.25em;
  outline: none;
}

.url-output {
  position: relative;
}

.url-output-field:focus::-webkit-input-placeholder {
  font-size: 2em;
}

.url-output h3 {
  margin: 0;
  text-align: left;
  font-size: .5em;
}

.hidden {
  display: none;
}

.copy-label,
.copied-label {
  background-color: #000;
  border-radius: 500px;
  color: #fff;
  width: 50%;
  padding: 2px 15px;
  margin: 0 auto;
  position: absolute;
  bottom: -25px;
  left: 25%;
}