.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 25px;
}

.footer a {
  color: #fff;
  /* text-decoration: none; */
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.contact-phone img,
.contact-email img {
  position: relative;
  right: 10px;
  top: 6px;
}

@media only screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
  }

  .contact {
    flex-direction: column;
  }
}