.url-input-field {
  width: 360px;
  height: 35px;
  border: none;
  font-size: 1.25em;
  border-bottom: 1px solid #000;
  outline: none;
}

.url-input-field:focus::-webkit-input-placeholder {
  font-size: 2em;
  color: transparent;
  border-bottom: 1px solid #0000ff;
}

.url-input h3 {
  margin: 0;
  text-align: left;
  font-size: .5em;
}

@media only screen and (max-width: 650px) {
  .url-input-field {
    width: 300px;
  }

  .url-input {
    margin: 0 auto;
  }
}